@CHARSET "ISO-8859-1";
.employeeTable{   
   border-collapse:collapse;
   border-bottom:1px solid #000000;
}

.employeeTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;
   border-top:1px solid #000000;
   padding:2px;
}

.employeeTableOddRow{
   text-align:left;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.employeeTableEvenRow{
   text-align:left;
   background:none repeat scroll 0 0 #D3D3D3;
}

#employeeDetailForm .text-input{
    background-color:#fbfbfb;
    border:solid 10px #000000;
    margin-bottom:8px;
    width:178px;
    padding:8px 5px;
    color:#797979;
}

.employeeDetailText{
   text-align:left;
   background:none repeat scroll 0 0 #ffd2aa;	
}

#employeeDetailForm .employeeDetailText{
   text-align:left;
   background:none repeat scroll 0 0 #ffffc1;	
}
.employeeDetailLabel{
   text-align:left;
   background:none repeat scroll 0 0 #D3D3D3;
}
#employeeDetailForm .employeeDetailLabel1{
   text-align:left;
   background:none repeat scroll 0 0 #ffb7db;
}
#employeeDetailForm .employeeDetailLabel2{
   text-align:left;
   background:none repeat scroll 0 0 #84c1ff;
}



#employeeDetailForm\:employeeId{
	background:pink;
	color:blue	
}
.test1{
	background: #D3D3D3;
	color: blue;
}

