@CHARSET "ISO-8859-1";
.employeeTable{   
   border-collapse:collapse;
   border-bottom:1px solid #000000;
}

.employeeTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;
   border-top:1px solid #000000;
   padding:2px;
}

.empolyeeTableOddRow{
   text-align:left;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.employeeTableEvenRow{
   text-align:left;
   background:none repeat scroll 0 0 #D3D3D3;
}

.empolyeeDetailText{
   text-align:left;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.employeeDetailLabel{
   text-align:left;
   background:none repeat scroll 0 0 #D3D3D3;
}